@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    html,
    body{
        @apply bg-gray-900 text-white transition p-0 m-0;
    }

    .technologies i{
        @apply py-4 px-4 text-gray-300 hover:text-gray-100 hover:-translate-y-1 duration-500;
    }

    .socials a{
        @apply py-4 px-4 text-gray-300 hover:text-gray-100 duration-500;
    }
    .socials a:hover i{
        @apply -translate-y-1 duration-500;
    }

    .logo:hover{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .progress{
        @apply block bg-gray-200 h-1 w-1 rounded-lg relative;
    }

    .hr{
        @apply block bg-gray-400 w-2/3 rounded-lg relative;
        height:1px;
    }
}