@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        @apply scroll-smooth;
    }

    html,
    body,
    #__nuxt{
        @apply w-full h-full bg-gray-900 text-white;
    }

    ::-webkit-scrollbar{
        @apply w-2 bg-gray-800 rounded-full;
    }

    ::-webkit-scrollbar-thumb{
        @apply bg-gray-700 hover:bg-gray-600 rounded-full;
    }

    ::selection{
        @apply bg-purple-600 text-purple-200;
    }

    @keyframes a {
        0%{
            opacity: 100%;
            visibility: visible;
        }

        100%{
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes b {
        0%{
            filter: blur(10px);
        }

        100%{
            filter: blur(0);
        }
    }

    .b{
        animation: a 1s linear 0s 1 normal forwards;
        @apply w-full h-full fixed top-0 left-0 bg-black z-50;
    }

    body{
        animation: b 1s linear 0s 1 normal forwards;
    }
}