@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  *{
    @apply p-0 m-0 box-border outline-none border-0;
  }

  html,
  body,
  #root{
    @apply w-full h-full text-white bg-gray-900 select-none;
  }

  #root{
    @apply flex items-center justify-center;
  }

  @keyframes start {
    0%{
      @apply opacity-0;
      transform: translateY(-50%)
    }

    100%{
      @apply opacity-100;
      transform: translateY(0);
    }
  }

  .anim{
    animation: start 1s linear 0s 1;
    @apply duration-300;
  }

  .profile{
    transition: 1s all;
  }

  .profile:hover{
    rotate: 360deg;
  }

  .bg{
    background: url("https://media.tenor.com/bMmFuMzGV08AAAAC/apo-bomb-turk-ocalan-army.gif");
  }

  .skill{
    @apply py-2 px-4 bg-gray-800 rounded;
  }

  .hr{
    @apply w-full block h-[1px] bg-gray-200 rounded-full;
  }

  .ic{
    @apply text-gray-400 hover:text-white hover:-translate-y-2 transition duration-300 block;
  }

  .spotify_icon{
    @apply relative after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:bg-gradient-to-tr bg-gradient-to-bl from-green-600 to-blue-200 text-transparent bg-clip-text after:from-green-600 after:to-green-200 after:z-50 after:opacity-0 after:bg-clip-text after:text-transparent duration-300 after:duration-300;
  }

  .spotify_icon:hover::after{
    @apply opacity-100;
  }

  .spotify_icon::after{
    content: "\f1bc";
  }
}